---
layout: default
---

<div class="home">

  <h2 class="slogan">Because sharing is good for everyone.</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.comments %}
            | <a href="{{ post.url }}#disqus_thread">Comments</a>
          {% endif %}
        </span>

        <div class="post-content" itemprop="articleBody">
          {{ post.content }}
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
