---
layout: default
---

<div class="home">

  <h2 class="slogan">Because sharing is good for everyone.</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-content" itemprop="articleBody">
          {{ post.content }}
        </div>

        {% if post.comments %}
        <span class="post-comment-count">
          <a href="{{ post.url | prepend: site.url }}#disqus_thread">View Comments</a>
        </span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
